<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style.css">
    <title>Browse Page</title>
</head>
<body>
    <h4><a href="/">EduMatch</a></h4>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><li><a href="/browse">Browse</a></li></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>
<div class="center">
    <br>
    <h2>Filter By:</h2>
 
 <button class="btn active" onclick="filterSelection('all')">Show all</button>
<br>
<br>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Tutors teaching
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><button class="btn" onclick="filterSelection('Teach Chemistry')">Chemistry</button></li>
    <li><button class="btn" onclick="filterSelection('Teach English')">English</button></li>
    <li><button class="btn" onclick="filterSelection('Teach Japanese')">Japanese</button></li>
    <li><button class="btn" onclick="filterSelection('Teach Maths')">Maths</button></li>
    <li><button class="btn" onclick="filterSelection('Teach Social-studies')">Social Studies</button></li>
  </ul>
</div>
<br>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Students learning
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><button class="btn" onclick="filterSelection('Learn Chemistry')">Chemistry</button></li>
    <li><button class="btn" onclick="filterSelection('Learn English')">English</button></li>
    <li><button class="btn" onclick="filterSelection('Learn Japanese')">Japanese</button></li>
    <li><button class="btn" onclick="filterSelection('Learn Maths')">Maths</button></li>
    <li><button class="btn" onclick="filterSelection('Learn Social-studies')">Social Studies</button></li>
  </ul>
</div>
<br>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Location
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><button class="btn" onclick="filterSelection('North')">North</button></li>
    <li><button class="btn" onclick="filterSelection('South')">South</button></li>
    <li><button class="btn" onclick="filterSelection('East')">East</button></li>
    <li><button class="btn" onclick="filterSelection('West')">West</button></li>
    <li><button class="btn" onclick="filterSelection('Central')">Central</button></li>
    
  </ul>
</div>
<br>


{{#each user}}
    <div class="abc {{subject}} {{location}}">
        <div class="row">
            <div class="col-2">
                <div class="card">
                    <div class="avatar-ctn">
                        <img src="/system-users-icon.png" class="avatar" alt="user profile picture".>
                    </div>
            <div class="card-body">
                <h5 class="card-title">{{toUpperCase name}}</h5>
                <p class="card-text">Rating: {{rating}}/5</p>
                <p class="card-text">Number of reviews: {{ratingCount}}</p>
                <a href="#" class="btn btn-primary">{{email}}</a>
            </div>
            </div>
            </div>
            <br><br>
          <div class="col-10">
                 <div class="card text-center">
                     <div class="card-header">
                         User Details
                     </div>
                     <div class="card-body-main">
                       <br>
                         <h5 class="card-title">Name: {{toUpperCase name}}</h5>
                         <p class="card-text">Seeking to: {{subject}}</p>
                         <p class ="card-text">Location: {{location}}</p>
                         <p class ="card-text">Personal message: {{message}}</p>
                         <p class ="card-text">Latest review message: {{review}}</p>

                         <!--modal button-->
                         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-id="{{id}}">Leave review and ratings for {{name}}</button>                       
                         <!--end modal button-->
                     </div>
                     <div class="card-footer text-muted">
                       
                     </div>
                     
                 </div>
            </div>
        </div>    
</div>

<br><br>
{{/each}}
<!--modal body-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                </div>
                                <div class="modal-body">
                                  <form action ="/browse" method="POST">
                                    <div class="form-group">
                                      <label for="rating">Rating out of 5:</label>
                                        <select name="rating" id="rating">
                                            <optgroup label="Ratings">
                                                <option value=1>1</option>
                                                <option value=2>2</option>
                                                <option value=3>3</option>
                                                <option value=4>4</option>
                                                <option value=5>5</option>
                                            </optgroup>
                                        </select>
                                      <input type="hidden" class="form-control" id="recipientName" name="recipientName">
                                    </div>
                                    <div class="form-group">
                                      <label for="message-text" class="col-form-label">Review:</label>
                                      <textarea class="form-control" id="messageText" name="messageText"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary">Send message</button>
                                </div>
                                  </form>
                                </div>
                                
                              </div>
                            </div>
                          </div>
</div>
<!--modal body end-->
    <script>
filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("abc");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) AddClass(x[i], "show");
  }
}

function AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);     
    }
  }
  element.className = arr1.join(" ");
}

// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>
<script>
  $('#exampleModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var id = button.data('id') // Extract info from data-* attributes
    var modal = $(this)
    modal.find('.modal-body input').val(id)
  })
</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    
</body>
</html>